body {
	color:black;
	background-color: #FCF3CF;
	font-family: Century Gothic;
}

ul.navbar{
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 2em;
	left: 1em;
	width: 9em;
}

ul.navbar li{
	background: #F2D7D5;
	margin: 0.5em 0;
	padding: 0.3em;
	border-right: 1em solid black 
}
ul.navbar a{
	text-decoration: none
}
a: link{
	color: blue
}
a: visited {
	color: red
}

address{
	margin-top: 1em;
	padding-top: 1em;
	border-top: thin dotted 
}

h1{
	font-family: Simplicity; 
	color: #D2B4DE;
}
h2{
	font-family: HelloBragTags;
	color: green;
}
h3{
	color: #85C1E9;
}
h6{
	color: #D98880;
}